@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #050507;
  font-size: 1rem;
  /*font-family: ;*/
  max-width: 1000px;
}
img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  color: #050507;
  text-decoration: none;
}

.flex_area {
  display: flex;
  justify-content: center;
}

.flex_left {
  margin-right: 10px;
}
.flex_right {
  margin-left: 10px;
}

#input_area,
#result_area,
#checkbox_area {
  border: 1px solid #050507;
  border-radius: 10px;
}

/* text-align: center;入力値 */
#input_area,
#convert_button_area {
  width: 350px;
  height: 70px;
}

#result_area {
  width: 500px;
  height: 100px;
  margin: 0 auto;
}

#input_area,
#convert_button_area {
  margin-bottom: 50px;
}

#checkbox_area {
  width: 300px;
}

#convert_button_area {
  margin: 0 auto 50px auto;
}

#reset_button_area {
  width: 100px;
  height: 100px;
}

input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 10px;
}

#convert_button {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 123, 0);
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

#reset_button {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 123, 0);
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

button:hover {
  opacity: 0.6;
}

#result {
  width: 100%;
  height: 100%;
  padding: 25px 15px;
}

/* --#header----------------------- */
#header .logo {
  font-size: 2rem;
  text-align: center;
  padding: 10px 10px 0 10px;
  margin: 10px 10px 0 10px;
}

#header p {
  text-align: center;
}

/* --.container----------------------- */
.container {
  padding: 20px 0;
  margin: 50px 0;
}

#input_area,
#result_area {
  position: relative;
}

label {
  position: absolute;
  top: -25px;
  left: 10px;
  padding: 3px 5px;
  margin: 10px;
  background-color: rgb(255, 199, 146);
  border-radius: 5px;
  /* font-size: 80%; */
  font-weight: bold;
}

/* --#footer----------------------- */
#footer {
  text-align: center;
  padding: 10px;
  margin: 10px;
}


/* --ハンバーガーメニュー------------ */
/* --#mainvisual------------------- */
/* --#information------------------ */
/* --#access----------------------- */
/* --#contact---------------------- */

/* --レスポンシブ------------------- */
/* --レスポンシブ#information------- */
/* --レスポンシブ#access------------ */
/* --レスポンシブ#contact----------- */
/* --レスポンシブ#footer------------ */

/* --やることリスト----------------- */