@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #050507;
  font-size: 1rem;
}

a {
  color: #050507;
  text-decoration: none;
}

img {
  max-width: 100%;
}

#output-area__error-message {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

/* --#header----------------------- */
.header__site-title {
  font-size: 2rem;
  text-align: center;
  padding: 10px 10px 0 10px;
  margin: 10px auto 0;
}

.header__note {
  text-align: center;
}

/* --.container----------------------- */
.container {
  width: 750px;
  padding: 20px 0;
  margin: 50px auto;
}

/* --main----------------------- */
.flex-area {
  display: flex;
  justify-content: center;
}

.flex-left {
  margin-right: 10px;
}
.flex-right {
  margin-left: 10px;
}

input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 10px;
}

#input-area {
  width: 350px;
  height: 70px;
  margin-bottom: 100px;
  margin-left: 30px;
}

#input-area,
#output-area {
  position: relative;
  border: 1px solid #050507;
  border-radius: 10px;
}

#output-area {
  width: 580px;
  height: 100px;
}

#output-area__output {
  width: 100%;
  height: 100%;
  padding: 25px 15px;
}

label,
.output-area__label {
  position: absolute;
  top: -25px;
  left: 10px;
  padding: 3px 5px;
  margin: 10px;
  background-color: rgb(255, 199, 146);
  border-radius: 5px;
  font-weight: bold;
}

#reset-button-area {
  width: 100px;
  height: 100px;
}

#reset-button {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 123, 0);
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

button:hover {
  opacity: 0.6;
}

/* --#footer----------------------- */
#footer {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

#responsive-footer {
  display: none;
}

#siteinfo {
  margin-bottom: 20px;
}

#siteinfo ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 1.5;
}

.siteinfo__list {
  display: inline;
}

#siteinfo a {
  color: #1a0dab;
}

#siteinfo a:hover {
  text-decoration: underline;
}

#siteinfo span {
  opacity: 0.5;
  padding: 0 0.5rem;
}


@media screen and (max-width: 740px) {
  .header__site-title {
    font-size: 1.5rem;
    margin: 10px auto 7px;
  }

  .container {
    width: 300px;
    margin: 20px auto;
  }

  .flex-area {
    flex-direction: column;
  }

  .flex-left {
    margin-right: 0;
  }
  .flex-right {
    margin-left: 0;
  }

  #input-area {
    width: 280px;
    margin: 0 auto 50px auto;
  }

  #output-area {
    width: 280px;
    margin: 0 auto 50px auto;
    height: 200px;
    overflow-wrap: break-word;
  }

  #output-area__error-message {
    font-size: 0.7rem;
    margin-top: 5px;
  }
  
  #reset-button-area {
    width: 280px;
    height: 70px;
    margin: 0 auto;
  }

  .footer__copyright {
    display: none;
  }

  #responsive-footer {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px;
  }

    .siteinfo__list a {
    font-size: 0.85rem;
  }
  .footer__copyright {
    font-size: 0.85rem;
  }
}